@using TicariOtomasyon.Models
@model List<FaturaKalem>
@{
    ViewData["Title"] = "FaturaDetay";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<table class="table table-striped">

    <tr>
        <th>Id</th>
        <th>Açıklama</th>
        <th>Miktar</th>
        <th>Birim Fiyat</th>
        <th>Tutar</th>
    </tr>
    @foreach (var x in Model)
    {
        <tr>
            <td>@x.FaturaKalemId</td>
            <td>@x.Acıklama</td>
            <td>@x.Miktar</td>
            <td>@x.BirimFiyat</td>
            <td>@x.Tutar</td>


        </tr>
    }





</table>
