@model IEnumerable<TicariOtomasyon.Models.Cari>
@{
    Layout = null;
}

              <div class="card-body table-responsive p-0">
                  @foreach (var x in Model)
                   {
                <table class="table table-hover text-nowrap">
               
                  <thead>
                    <tr>
                      <th>CariId</th>
                      <th>CariAd</th>
                      <th>CariSoyad</th>
                      <th>CariSehir</th>
                      <th>CariMail</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>@x.CariId</td>
                      <td>@x.CariAd</td>
                      <td>@x.CariSoyad</td>
                      <td>@x.CariSehir</td>
                      <td>@x.CariMail</td>
                    </tr>
                    
                  </tbody>
                </table>
                }
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
        </div>
