@using TicariOtomasyon.Models
@model List<KargoDetay>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<br/>
@using (@Html.BeginForm("Index","Kargo",FormMethod.Get))
{
    <p>
        Kargo Takip Numarası: @Html.TextBox("p")
        <input type="submit" value="Ara"/>
    </p>
}
<br />
<table class="table table-bordered">
    <tr>
        <td>Personel</td>
        <td>Alıcı</td>
        <td>Takip Kodu</td>
        <td>Tarih</td>
     
        <td>Detay</td>

    </tr>
    @foreach (var x in Model)
    {
        <tr>
            <td>@x.Personel</td>
            <td>@x.Alıcı</td>
            <td>@x.TakipKodu</td>
            <td>@x.Tarih</td>
           
          <td><a href="/Kargo/KargoDetay/@x.TakipKodu" class="btn btn-dark">Kargo Detay</a></td>

        </tr>
    }

  
</table>
<a href="/Kargo/KargoEkle" class="btn btn-dark" > Yeni Kargo Girişi
    </a>


